@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    silk --default,
    night --prefersdark;
}

@theme {
  --animate-fadeIn: fadeIn 1s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
